@model DataTable
@using System.Data

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Country</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Country</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">Search User</h5>

                            <form class="row g-3">
                                <div class="col-md-4">
                                    <label for="CountryName" class="form-label">CountryName</label>

                                    <input type="text" class="form-control  border border-black" placeholder="Enter Country Name">
                                </div>
                                <div class="col-md-4">
                                    <label for="CountryCode" class="form-label">CountryCode</label>

                                    <input type="text" class="form-control  border border-black" placeholder="Enter CountryCode">
                                </div>
                               
                                <div class="text-start">
                                    <button type="submit" class="btn btn-success">Search</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <span class="text-danger">@TempData["ErrorMessage"]</span>

                        <a class="btn btn-success float-end mb-2 mt-3" asp-area="" asp-controller="Country" asp-action="CountryForm">Add Country</a>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <h2 class="mt-3">Country list</h2>


                            <thead>
                                <tr class="table-dark">
                                     <th>CountryID </th> 
                                    <th>CountryName</th>
                                    <th>CountryCode</th>
                                    <th>CreationDate</th> 
                                    <th>User Name</th>
                                    <th>Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (DataRow dataRow in Model.Rows)
                                {
                                   
                                    <tr>
                                        <td>@dataRow["CountryID"]</td>
                                                    <td> @dataRow["CountryName"] </td>
                                                    <td> @dataRow["CountryCode"] </td>
                                                    <td> @dataRow["CreationDate"] </td>
                                                    <td> @dataRow["UserName"] </td>
                                        <td>
                                            <a asp-controller="Country" asp-action="CountryForm" class="btn btn-primary">
                                                <i class="bi bi-pencil-fill"></i>Edit

                                            </a>
                                            <a asp-controller="Country" asp-action="CountryDelete" asp-route-CountryID="@dataRow["CountryID"]" class="btn btn-danger btn-xs">
                                                <i class="bi bi-x">Delete</i>
                                            </a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
