@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- End Table with stripped rows -->
@model DataTable
@using System.Data
<main id="main" class="main">

    <div class="pagetitle">
        <h1>City List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller ="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">Search User</h5>

                            <form class="row g-3">
                                <div class="col-md-4">
                                    <label for="CountryName" class="form-label">Country Name</label>

                                    <input type="text" class="form-control  border border-black" placeholder="Country Name">
                                </div>
                                <div class="col-md-4">
                                    <label for="StateName" class="form-label">State Name</label>

                                    <input type="text" class="form-control  border border-black" placeholder="State Name">
                                </div>
                                <div class="col-md-4">
                                    <label for="CityName" class="form-label">City Name</label>

                                    <input type="text" class="form-control  border border-black" placeholder="City Name">
                                </div>
                                <div class="col-md-4">
                                    <label for="STD Code" class="form-label">STD Code</label>

                                    <input type="text" class="form-control  border border-black" placeholder="STD Code">
                                </div>
                                <div class="text-start">
                                    <button type="submit" class="btn btn-success">Search</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <span class="text-danger">@TempData["ErrorMessage"]</span>

                        <a class="btn btn-success float-end mb-1 mt-2" asp-area="" asp-controller="City" asp-action="CityForm">Add City</a>
                        <table class="table datatable">
                           
<<<<<<< HEAD
                                <h2 class="">City List</h2>
=======
                                <h2 class="mt-3">City List</h2>
>>>>>>> f323cd3f359d846b268389d777120823d1af0cab

                                
                                    <thead>
                                        <tr>
                                            <th>CityId</th>
                                            <th>City Name</th>
                                            <th>State Name</th>
                                    <th>Country Name</th>

                                    <th>User Name</th>

                                            <th>Creation Date</th>
                                            <th>Pin Code</th>
                                            <th>STD Code</th>
                                            <th>Action</th>

                                            @* <th>Creation Date</th> *@
                                        </tr>
                                    </thead>
                                    <tbody>
                                @foreach (DataRow dataRow in Model.Rows)
                                {
                                    <tr>
                                        <td>@dataRow["StateID"]</td>
                                        <td>@dataRow["CityName"]</td>
                                        <td>@dataRow["StateName"]</td>
                                        <td>@dataRow["CountryName"]</td>

                                        <td>@dataRow["UserName"]</td>
                                        <td>@dataRow["CreationDate"]</td>

                                        <td>@dataRow["PinCode"]</td>
                                        <td>@dataRow["STDCode"]</td>

                                        <td>
                                            @* <a class="btn btn-danger me-2" asp-controller="MST_QuestionLevel" asp-action="MST_QuestionLevelForm">Delete Selected</a> *@
                                            @* <a class="btn btn-primary" asp-controller="MST_QuestionLevel" asp-action="MST_QuestionLevelForm">ADD Question Level</a> *@
                                            <a asp-controller="City" asp-action="CityForm" class="btn btn-primary">
                                                <i class="bi bi-pencil-fill"></i>Edit

                                            </a>
                                            <a asp-controller="City" asp-action="CityDelete" asp-route-CityID="@dataRow["CityID"]" class="btn btn-danger btn-xs">
                                                <i class="bi bi-x">Delete</i>
                                            </a>

                                        </td>

                                    </tr>
                                }
                                    </tbody>
                           
                        </table>

                          

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->